body[data-theme='dark'] {
	--color-text: #FFF;
	--color-text-2: #4E4E4E;
	--color-bg: #181818;
	--color-bg-menu: #1C1C1C;
	--color-bg-wrap: #383838;
	--color-hover-track: #131313;
	--color-progress-line: #2E2E2E;
	--color-btn-regular: #696969;
	--color-btn-hover: #ACACAC;
	--color-btn-active: white;
	--color-form-login: #FFF;
	--color-btn-login-hover: #f4f5f6;
	--color-btn-login-active: #d9d9d9;
}

body[data-theme='light'] {
	--color-text: #000;
	--color-text-2: #B1B1B1;
	--color-bg: #FFF;
	--color-bg-menu: #F6F5F3;
	--color-bg-wrap: #f6f5f3;
	--color-hover-track: #F6F5F3;
	--color-progress-line: #D9D9D9;
	--color-btn-regular: #B1B1B1;
	--color-btn-hover: #707070;
	--color-btn-active: black;
	--color-form-login: #B1B1B1;
	--color-btn-login-hover: #ACACAC;
	--color-btn-login-active: #696969;
}